/* ===================================
TOPBAR
=================================== */

.topbar{

height:110px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 40px;

background:white;

border-radius:28px;

box-shadow:

0 20px 60px
rgba(0,0,0,.05);

margin-bottom:35px;

}



/* ===================================
LEFT
=================================== */

.topbar-left h2{

font-size:34px;

color:#071A54;

font-weight:900;

margin-bottom:6px;

}



.topbar-left p{

font-size:15px;

color:#80879B;

}



/* ===================================
RIGHT
=================================== */

.topbar-right{

display:flex;

align-items:center;

gap:18px;

}



/* SEARCH */

.search-box{

width:300px;

height:56px;

display:flex;

align-items:center;

gap:14px;

padding:0 22px;

border-radius:18px;

background:#F7F8FB;

}



.search-box svg{

color:#D89B2B;

}



.search-box input{

border:none;

background:none;

width:100%;

font-size:14px;

}



.search-box input:focus{

outline:none;

}



/* NOTIFY */

.notify{

width:58px;

height:58px;

border:none;

border-radius:18px;

background:#F7F8FB;

position:relative;

cursor:pointer;

font-size:18px;

color:#071A54;

}



.notify span{

position:absolute;

top:10px;

right:10px;

width:18px;

height:18px;

border-radius:50%;

background:#D89B2B;

color:white;

font-size:10px;

display:flex;

justify-content:center;

align-items:center;

}



/* USER */

.admin-user{

height:64px;

padding:0 18px;

display:flex;

align-items:center;

gap:14px;

background:#F7F8FB;

border-radius:18px;

cursor:pointer;

}



.avatar{

width:44px;

height:44px;

border-radius:50%;

background:

linear-gradient(
135deg,
#D89B2B,
#F2C765
);

display:flex;

justify-content:center;

align-items:center;

font-weight:800;

color:white;

}



.admin-info h4{

font-size:14px;

color:#071A54;

margin-bottom:4px;

}



.admin-info p{

font-size:12px;

color:#888;

}



/* ===================================
RESPONSIVE
=================================== */

@media(max-width:900px){

.topbar{

height:auto;

padding:25px;

flex-direction:column;

align-items:flex-start;

gap:20px;

}



.topbar-right{

width:100%;

flex-wrap:wrap;

}



.search-box{

width:100%;

}

}



@media(max-width:600px){

.topbar-left h2{

font-size:28px;

}



.admin-user{

width:100%;

justify-content:space-between;

}

}