/* ==========================
DONATION SECTION
========================== */

.donation{

position:relative;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:140px 8%;

overflow:hidden;

background:

linear-gradient(
rgba(4,14,22,.50),
rgba(4,14,22,.65)
), url("../assets/image/image(375).png");

background-size: 110%;

background-position: center center;

background-repeat:no-repeat;

  background-attachment: fixed; 

}



/* OVERLAY */

.donation-overlay{

position:absolute;

inset:0;

background:

linear-gradient(

rgba(0,0,0,.18),

rgba(0,0,0,.22)

);

z-index:1;

}



/* CONTENT */

.donation-content{

position:relative;

z-index:5;

max-width:1200px;

width:100%;

text-align:center;

color:#fff;

}



/* TAG */

.donation-tag{

display:inline-flex;

align-items:center;

justify-content:center;

padding:16px 38px;

border-radius:60px;

background-color:rgba(30, 14, 10, 0.45); ; 


border:
1px solid rgba(229, 166, 49, 0.913);

backdrop-filter:blur(18px);

-webkit-backdrop-filter:blur(18px);

border:
1px solid rgba(230, 180, 45, 0.834);

font-size:.99rem;

font-weight:700;

letter-spacing:4px;

color:#ffffff;

margin-bottom:45px;

text-shadow:
0 2px 8px rgba(0,0,0,.25);

}


/* TITLE */

.donation-title{

font-size:5.5rem;

font-weight:900;

line-height:1.08;

margin-bottom:32px;

color:#fff;

text-shadow:

0 10px 50px rgba(0,0,0,.75),

0 2px 14px rgba(0,0,0,.55);

}



/* DESCRIPTION */

.donation-text{

font-size:1.3rem;

line-height:2;

max-width:850px;

margin:auto;

margin-bottom:80px;

font-weight:500;

color:

rgba(255,255,255,.98);

text-shadow:

0 4px 20px rgba(0,0,0,.6);

}



/* GRID */

.donation-grid{

display:grid;

grid-template-columns:

repeat(2,1fr);

gap:32px;

margin-bottom:60px;

}



/* CARD */

.donation-card{

background:#f8f6f1;

backdrop-filter: blur(25px);
-webkit-backdrop-filter: blur(25px);

border:1px solid rgba(217,154,0,.15);

padding:50px;

border-radius:32px;

cursor:pointer;

transition:.45s ease;

min-height:260px;

display:flex;

flex-direction:column;

justify-content:center;

text-align:left;

box-shadow:
0 15px 50px rgba(0,0,0,.35);

}



.donation-card:hover{

transform:
translateY(-10px);

background:
rgba(140, 141, 142, 0.826);

border-color:
rgba(244,195,93,.4);

box-shadow:
0 25px 60px rgba(0,0,0,.45);

}



/* ACTIVE */

.donation-card.active{

background:
linear-gradient(
135deg,
rgba(244,195,93,.95),
rgba(234,184,74,.95)
);

transform:
translateY(-12px)
scale(1.02);

border:
1px solid rgba(255,255,255,.35);

box-shadow:
0 30px 80px rgba(244,195,93,.35);

}



/* CARD TITLE */

.donation-card h2{
  color:#1b1b1b;

  font-size:2.2rem;

  font-weight:800;

  margin-bottom:20px;

 
}



/* CARD TEXT */

.donation-card p{

  color:#555;

  font-size:1.1rem;

  line-height:1.8;

  text-shadow:none;

}



/* SELECTED */

.selected{

margin-top:-20px;

margin-bottom:20px;

font-size:.95rem;

font-weight:700;

color:#fff;

text-align:right;

}



.selected strong{

display:inline-block;

margin-left:10px;

color:#FFD95E;

}



/* BUTTON */

.donate-link{

text-decoration:none;

}



.donate-btn{

width:350px;

height:80px;

border:none;

border-radius:60px;

cursor:pointer;

background:

linear-gradient(
135deg,
#F4C35D);

color:#111;

font-size: 1.1rem;

font-weight:900;

letter-spacing:3px;

transition:.35s;

}



.donate-btn:hover{

transform:

translateY(-8px);

box-shadow:

0 25px 50px
rgba(244,195,93,.35);

}



/* TABLET */

@media(max-width:980px){

.donation-title{

font-size:3rem;

}

.donation-grid{

grid-template-columns:1fr;

}

}



/* MOBILE */

@media(max-width:600px){

.donation{
min-height:auto;
padding:70px 20px;
background-size:cover;
background-attachment:scroll;
}

.donation-title{
font-size:1.9rem;
line-height:1.2;
margin-bottom:20px;
}

.donation-tag{

padding:10px 20px;

font-size:.75rem;

letter-spacing:2px;

margin-bottom:25px;

}

.donation-text{
font-size:.92rem;
line-height:1.7;
margin-bottom:35px;
}

.donation-card{

padding:22px;

min-height:160px;

border-radius:20px;

}

.donate-btn{

width:220px;

height:55px;

font-size:.85rem;

letter-spacing:1.5px;

}

.donate-link{

display:flex;

justify-content:center;

}

.donation-card h2{

font-size:1.2rem;

margin-bottom:10px;

}

.donation-card p{

font-size:.9rem;

line-height:1.6;

}

.selected{

margin-top:-40px;

margin-bottom:15px;

text-align:right;

font-size:.85rem;

}

.donation-trust{

font-size:.9rem;

line-height:1.6;

margin-bottom:20px;

}

}

.progress-section{

margin:25px auto;

max-width:900px;

padding:18px;

background:
rgba(10,20,30,.45);

backdrop-filter:
blur(25px);

border:
1px solid #ecbd5770;

border-radius:20px;

box-shadow:
0 20px 60px rgba(0,0,0,.35);

}

.progress-header{
  display:flex;
  justify-content:space-between;
  color:white;
  margin-bottom:10px;
}

.progress-bar{

width:100%;

height:24px;

border-radius:100px;

background:
rgba(255,255,255,.08);

overflow:hidden;

margin-top:15px;

}

.progress-fill{

height:100%;

background:
linear-gradient(
90deg,
#F4C35D,
#EAB84A
);

border-radius:100px;

box-shadow:
0 0 30px rgba(244,195,93,.7);

position:relative;

}


.progress-fill::after{

content:"";

position:absolute;

top:0;
right:0;

width:80px;
height:100%;

background:
rgba(255,255,255,.35);

filter:blur(12px);

animation:
progressGlow 2s infinite linear;

}

@keyframes progressGlow{

0%{
transform:
translateX(-80px);
}

100%{
transform:
translateX(900px);
}



}

.impact-amount{
  font-size:2rem;
  font-weight:900;
    color:#D99A00;
  margin-bottom:8px;
}

.impact-stats{
display:flex;
justify-content:center;
gap:12px;
flex-wrap:wrap;
margin:25px 0 35px;
}

.impact-stats h3{
  font-size: 1.8rem;
  color:#F4C35D;
  margin-bottom:10px;

  text-shadow:
  0 0 20px rgba(244,195,93,.4);
}

.impact-stats p{
color:white;
font-weight:600;
font-size:.85rem;
}

.impact-stats > div{

background:
rgba(30, 14, 10, 0.45);

backdrop-filter:
blur(18px);

padding: 18px;

border-radius:20px;

border:
1px solid #f4c45d68;

min-width:18%;

}

.donation-trust{
margin-bottom:25px;
color:rgba(255,255,255,.92);
font-weight:600;
}

.donation-card.active{
background:
linear-gradient(
135deg,
#F4C35D,
#EAB84A
);

color:#111;
}

.donation-card.active h2{
  color:rgba(6, 22, 72, 0.75);

  
}

.donation-card.active p{
  color:#F4C35D;
}

.donation-card.active .impact-amount{
  color:#F4C35D;

    transform:translateY(-3px);

  transition:.3s ease;
}

