/* =================================
NAVBAR
================================= */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 92px;
  width: 100%;
  padding: 0 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
   transition: all 0.4s ease;

  /* GLASS EFFECT */
  background: rgba(255, 255, 255, 0.12);
backdrop-filter: blur(30px);
-webkit-backdrop-filter: blur(30px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}



/* =================================
LOGO
================================= */

.logo{

display:flex;

align-items:center;

gap:18px;

text-decoration:none;

flex-shrink:0;

z-index:99;

}



.logo img{

width:135px;

height:135px;

object-fit:contain;

margin-top:8px;

filter:

drop-shadow(
0 10px 25px
rgba(0,0,0,.35)
);

transition:.45s;

}



.logo:hover img{

transform:

scale(1.05);

}



.logo-text{

display:flex;

flex-direction:column;

}



.logo-text h1{

margin:0;

font-size:30px;

font-weight:900;

font-style:italic;

line-height:1;

color:white;

}



.logo-text span{

margin-top:8px;

font-size:13px;

letter-spacing:6px;

color:#EAB84A;

font-weight:700;

}



/* =================================
NAVIGATION
================================= */

.nav-links{

display:flex;

align-items:center;

justify-content:center;

gap:52px;

flex:1;

}



.nav-item{

position:relative;

white-space:nowrap;

}



.nav-item>a{

display:flex;

align-items:center;

gap:8px;

text-decoration:none;

color:white;

font-size:15px;

font-weight:700;

letter-spacing:2px;

text-transform:uppercase;

white-space:nowrap;

transition:.35s;

position:relative;

}



.nav-item>a:hover{

color:#ffbd2e;

}



.nav-item>a::after{

content:"";

position:absolute;

bottom:-10px;

left:0;

width:0;

height:1px;

background:#EAB84A;

transition:.35s;

}



.nav-item:hover>a::after{

width:100%;

}



.nav-item svg{

font-size:10px;

transition:.35s;

}



.nav-item:hover svg{

transform:rotate(180deg);

}



/* =================================
PREMIUM CLEAR GLASS DROPDOWN
================================= */

.dropdown{

position:absolute;

top:72px;

left:50%;

transform:
translateX(-50%)
translateY(20px);

width:290px;

padding:18px;

display:flex;

flex-direction:column;

gap:10px;

/* CLEAN GLASS */

background:
rgba(249, 183, 61, 0.845);

backdrop-filter:
blur(16px);

-webkit-backdrop-filter:
blur(16px);

border:
1px solid
rgba(255,255,255,.28);

border-radius:24px;

/* CLEAR DEPTH */

box-shadow:

0 18px 50px
rgba(0,0,0,.18),

inset 0 1px 0
rgba(255,255,255,.35);

opacity:0;

visibility:hidden;

transition:
all .45s ease;

}



/* OPEN */

.nav-item:hover .dropdown{

opacity:5;

visibility:visible;

transform:
translateX(-50%)
translateY(0);

}



/* LINKS */

.dropdown a{

display:flex;

align-items:center;

width:100%;

padding:16px 20px;

border-radius:16px;

text-decoration:none;

/* BRIGHT WHITE */

color:
rgba(255,255,255,.98);

font-size:16px;

font-weight:700;

letter-spacing:.4px;

transition:
all .3s ease;

}



/* HOVER */

.dropdown a:hover{

background:

rgba(255,255,255,.18);

color:#ffffff;

padding-left:30px;

box-shadow:

0 8px 25px
rgba(255,255,255,.08);

}



/* ACTIVE */

.dropdown a:active{

transform:scale(.98);

}


/* =================================
DONATE
RECTANGLE STYLE
================================= */

.nav-actions{

display:flex;

align-items:center;

justify-content:center;

margin-left:28px;

flex-shrink:0;

gap: 35px;

}



.nav-actions .donate-btn{
   animation: heartbeat 1.5s infinite;

box-shadow:
0 0 0 rgba(231, 181, 72, 0.2);

text-decoration:none;

/* exact rectangle */

width:118px;

height:38px;

/* IMPORTANT */

display:flex;

align-items:center;

justify-content:center;

/* shape */

border-radius:10px;

/* color */

background:#F2C35B;

color:#fff;

/* text */

font-size:15px;

font-weight:4000;

letter-spacing:2px;

text-transform:uppercase;

/* remove link behaviour */

line-height:5;

white-space:nowrap;

/* spacing */

padding:0;

flex:none;

transition:.25s;

box-shadow: 0 0 0 rgba(231, 181, 72, 0);
  transition: box-shadow 0.4s ease;

  position: relative;
overflow: hidden;
}

/* =========================
RIPPLE EFFECT
========================= */

.nav-actions .donate-btn::before {

  content: "";

  position: absolute;

  width: 20px;
  height: 20px;

  background: rgba(255,255,255,0.4);

  border-radius: 50%;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(0);

  opacity: 0;

  pointer-events: none;
}

/* TRIGGER RIPPLE */

.nav-actions .donate-btn:hover::before {

  animation: ripple 0.8s ease-out;
}



.nav-actions .donate-btn:hover {
  background: #E7B548;
  color: #111;

  transform: translateY(-3px) scale(1.05);

   box-shadow: 0 0 20px rgba(231, 181, 72, 0.35);

  letter-spacing: 4px;

  animation: none; /* stop heartbeat on hover for control */

  transition: all 0.35s ease;
}

/* =================================
MOBILE
================================= */

.mobile-menu{

display:none;

font-size:30px;

color:white;

cursor:pointer;

}



/* =================================
RESPONSIVE
================================= */

@media(max-width:1200px){

.nav-links{

gap:30px;

}

}

/* =================================
MOBILE NAV FIX
================================= */

@media(max-width:1100px){

.navbar{

height:82px;

padding:0 20px;

display:flex;

justify-content:space-between;

align-items:center;

}

/* SHOW MENU */

.mobile-menu{

display:flex;

align-items:center;

justify-content:center;

font-size:28px;

color:white;

cursor:pointer;

}

/* HIDE DESKTOP */

.nav-links{

display:none;

}

.nav-actions{

display:none;

}

/* SMALLER LOGO */

.logo img{

width:90px;

height:90px;

}

.logo-text h1{

font-size:18px;

}

.logo-text span{

font-size:8px;

letter-spacing:3px;

}

}



@media(max-width:768px){

.navbar{

height:82px;

padding:0 18px;

}



.logo img{

width:90px;

height:90px;

}



.logo-text h1{

font-size:16px;

}



.logo-text span{

font-size:7px;

letter-spacing:3px;

}

}/* MOBILE OPEN */

.nav-links.show{

position:absolute;

top:82px;

left:0;

right:0;

display:flex;

flex-direction:column;

padding:30px;

gap:20px;

background:

rgba(8,15,26,.95);

backdrop-filter:

blur(20px);

z-index:999;

}

.search-btn {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background: #f4c35d;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
}

.search-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(244, 195, 93, 0.4);
}

.search-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

/* input animation */
.search-input {
  width: 180px;
  height: 38px;
  border-radius: 20px;
  border: none;
  padding: 0 12px;
  padding-top: 16px;
  outline: none;
  font-size: 14px;
  transition: 0.3s ease;
  background: rgba(255,255,255,0.15);
  color: white;
  backdrop-filter: blur(10px);
}

.search-input::placeholder {
  color: rgba(255,255,255,0.7);
}

/* =========================
SEARCH OVERLAY (CENTERED MODAL)
========================= */

.search-overlay {
  position: fixed;
  top: 1px;
  left: 0;
  right: 0;
  height: 95px;
  padding-top: 25px;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-box input {
  width: 320px;
  padding: 12px 16px;
  border-radius: 12px;
  border: none;
  outline: none;

  background: rgba(255,255,255,0.15);
  color: rgb(0, 0, 0);

  backdrop-filter: blur(10px);
}

@keyframes pop {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


.search-btn:hover {
  animation: btn-shake 0.6s ease;
}

.letter {
  animation: glitch 1s infinite;
}

/* SHAKE ANIMATION */
@keyframes btn-shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-4px);
  }

  50% {
    transform: translateX(4px);
  }

  75% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0);
  }
}

/* GLITCH ANIMATION */
@keyframes glitch {

  0% {
    transform: translate(0);
    opacity: 1;
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}


.search-results {
  position: absolute;
  top: 100%; /* 👈 pushes it BELOW the input */
  left: 0;

  margin-top: 8px;
  width: 320px;

  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  max-height: 220px;
  overflow-y: auto;

  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  border: 1px solid #eee;

  z-index: 99999;
}

.search-item:hover {
  background: #d4d4d4;
  padding-left: 20px;
}

.search-item.active {
  background: #fabd53;
  font-weight: 600;
  padding-left: 20px;
}

/* =========================
NAVBAR ON SCROLL
========================= */

.navbar.scrolled {
  background: rgba(10, 15, 25, 0.75);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

/* =========================
HEARTBEAT ANIMATION
========================= */

@keyframes heartbeat {

  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.08);
  }

  30% {
    transform: scale(1);
  }

  45% {
    transform: scale(1.12);
  }

  60% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ripple {

  0% {

    transform:
    translate(-50%, -50%)
    scale(0);

    opacity: 0.7;
  }

  100% {

    transform:
    translate(-50%, -50%)
    scale(12);

    opacity: 0;
  }
}