.reports-page{

padding:20px;

}



/* HEADER */

.reports-header{

margin-bottom:45px;

}



.reports-header span{

font-size:12px;

letter-spacing:4px;

font-weight:800;

color:#D89B2B;

}



.reports-header h1{

font-size:54px;

margin:14px 0;

color:#071A54;

font-weight:900;

}



.reports-header p{

font-size:16px;

color:#8991A4;

line-height:1.8;

}



/* GRID */

.report-grid{

display:grid;

grid-template-columns:

repeat(
2,
1fr
);

gap:30px;

}



/* CARD */

.report-card{

background:white;

padding:40px;

border-radius:34px;

box-shadow:

0 25px 70px
rgba(0,0,0,.05);

transition:.35s;

}



.report-card:hover{

transform:

translateY(-8px);

}



.report-icon{

width:90px;

height:90px;

border-radius:26px;

display:flex;

justify-content:center;

align-items:center;

font-size:34px;

margin-bottom:28px;

color:#D89B2B;

background:

linear-gradient(
135deg,
#FFF3D6,
#FFE3A0
);

}



.report-card h2{

font-size:28px;

color:#071A54;

margin-bottom:16px;

}



.report-card h3{

font-size:42px;

margin-bottom:30px;

color:#071A54;

}



/* PROGRESS */

.progress{

height:12px;

background:#F2F4F8;

border-radius:50px;

overflow:hidden;

margin-bottom:18px;

}



.progress div{

height:100%;

background:

linear-gradient(
90deg,
#D89B2B,
#F2C45D
);

border-radius:50px;

}



.report-card span{

display:block;

margin-bottom:30px;

color:#888;

}



/* ACTIONS */

.report-actions{

display:flex;

gap:14px;

}



.report-actions button{

flex:1;

height:62px;

border:none;

border-radius:18px;

cursor:pointer;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

font-weight:700;

}



.report-actions button:first-child{

background:#071A54;

color:white;

}



.report-actions button:last-child{

background:#FFF3D6;

color:#D89B2B;

}



/* RESPONSIVE */

@media(max-width:900px){

.report-grid{

grid-template-columns:1fr;

}



.reports-header h1{

font-size:36px;

}

}.loading-box{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
height:60vh;
gap:20px;
}

.spin{
font-size:40px;
animation:spin 1s linear infinite;
}

@keyframes spin{
from{
transform:rotate(0deg);
}
to{
transform:rotate(360deg);
}
}