.volunteers-page{

padding:20px;

}



/* HEADER */

.page-header{

margin-bottom:30px;

}



.page-header span{

font-size:12px;

letter-spacing:4px;

font-weight:800;

color:#D89B2B;

}



.page-header h1{

font-size:52px;

margin:12px 0;

color:#071A54;

}



.page-header p{

color:#8A93A7;

}



/* STATS */

.stats{

display:grid;

grid-template-columns:1fr 1fr;

gap:20px;

margin-bottom:30px;

}



.stat{

background:white;

padding:28px;

border-radius:30px;

display:flex;

align-items:center;

gap:18px;

box-shadow:

0 20px 60px
rgba(0,0,0,.05);

}



.stat svg{

font-size:34px;

color:#D89B2B;

}



.stat h3{

font-size:32px;

color:#071A54;

}



/* SEARCH */

.search-box{

height:70px;

background:white;

border-radius:22px;

display:flex;

align-items:center;

padding:0 24px;

gap:14px;

margin-bottom:30px;

}



.search-box input{

border:none;

flex:1;

}



.search-box input:focus{

outline:none;

}



/* TABLE */

.table-card{

background:white;

padding:30px;

border-radius:34px;

overflow:auto;

}



.admin-table{

width:100%;

border-collapse:collapse;

}



.admin-table th{

padding:24px;

text-align:left;

color:#071A54;

}



.admin-table td{

padding:24px;

border-top:1px solid #EEE;

}



/* STATUS */

.approved,
.pending,
.rejected{

padding:10px 18px;

border-radius:40px;

font-size:13px;

font-weight:700;

}



.approved{

background:#EAFBF0;

color:#26A357;

}



.pending{

background:#FFF5D9;

color:#D89B2B;

}



.rejected{

background:#FFE8E8;

color:#E04C4C;

}



/* ACTIONS */

.actions{

display:flex;

gap:10px;

}



.actions button{

width:46px;

height:46px;

border:none;

border-radius:14px;

cursor:pointer;

}



.view{

background:#EEF3FF;

color:#2956C6;

}



.approve{

background:#EAFBF0;

color:#26A357;

}



.reject{

background:#FFE8E8;

color:#E04C4C;

}



/* MOBILE */

@media(max-width:900px){

.stats{

grid-template-columns:1fr;

}

}