.gallery-page{

background:#faf8f4;

padding-bottom:120px;

}


/* HERO */

.gallery-hero{

height:85vh;

background:

linear-gradient(
rgba(0,0,0,.35),
rgba(0,0,0,.35)
),

url("../assets/image/image(373).png");

background-size:cover;

background-position:center;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:40px;

color:white;

}

.gallery-hero span{

background:#f4b400;

padding:12px 28px;

border-radius:50px;

font-weight:700;

}

.gallery-hero h1{

font-size:5rem;

max-width:900px;

margin:30px 0;

}

.gallery-hero p{

max-width:700px;

line-height:2;

}



/* FILTER */

.gallery-filter{

display:flex;

justify-content:center;

gap:18px;

padding:80px 5%;

flex-wrap:wrap;

}

.gallery-filter button{

border:none;

padding:16px 30px;

border-radius:50px;

background:white;

cursor:pointer;

font-weight:700;

transition:.4s;

}

.gallery-filter button:hover{

background:#f4b400;

color:white;

}



/* FEATURE */

.featured-image{

width:90%;

height:650px;

margin:auto;

border-radius:40px;

overflow:hidden;

position:relative;

margin-bottom:80px;

}

.featured-image img{

width:100%;

height:100%;

object-fit:cover;

}

.featured-overlay{

position:absolute;

bottom:0;

left:0;

right:0;

padding:80px;

background:

linear-gradient(
transparent,
rgba(0,0,0,.8)
);

color:white;

}



/* GRID */

.gallery-grid{

columns:3 320px;

gap:25px;

width:90%;

margin:auto;

}

.gallery-card{

position:relative;

overflow:hidden;

margin-bottom:25px;

border-radius:30px;

}

.gallery-card img{

width:100%;

display:block;

transition:.6s;

}

.gallery-card:hover img{

transform:scale(1.08);

}

.overlay{

position:absolute;

inset:0;

display:flex;

justify-content:end;

padding:40px;

flex-direction:column;

opacity:0;

transition:.5s;

background:

linear-gradient(
transparent,
rgba(0,0,0,.8)
);

color:white;

}

.gallery-card:hover .overlay{

opacity:1;

}



/* IMPACT */

.gallery-impact{

margin:120px auto;

width:90%;

background:white;

padding:60px;

border-radius:35px;

display:grid;

grid-template-columns:

repeat(
4,
1fr
);

gap:30px;

text-align:center;

}

.gallery-impact h2{

font-size:4rem;

color:#f4b400;

}

.gallery-impact p{

font-size:1.1rem;

}



@media(max-width:768px){

.gallery-hero h1{

font-size:2.5rem;

}

.gallery-impact{

grid-template-columns:1fr;

}

}