.donate-page{

min-height:100vh;

position:relative;

display:flex;

justify-content:center;

align-items:center;

padding:120px 8%;

background:

url("../assets/image/image(373).png");

background-size:cover;

background-position:center;

overflow:hidden;

}



.donate-overlay{

position:absolute;

inset:0;

background:

linear-gradient(

rgba(0,0,0,.35),

rgba(0,0,0,.60)

);

}



.donate-container{

position:relative;

z-index:2;

max-width:1000px;

width:100%;

padding:70px;

border-radius:35px;

background:

rgba(255,255,255,.08);

backdrop-filter:blur(16px);

color:white;

text-align:center;

}



.donate-container span{

letter-spacing:4px;

color:#ffd25c;

}



.donate-container h1{

font-size:4rem;

margin:25px 0;

}



.donate-container p{

line-height:2;

margin-bottom:50px;

}



.amount-grid{

display:grid;

grid-template-columns:

repeat(5,1fr);

gap:18px;

margin-bottom:50px;

}



.amount-card{

padding:25px;

border-radius:18px;

cursor:pointer;

background:

rgba(255,255,255,.08);

transition:.35s;

}


.amount-card:hover{

transform:translateY(-5px);

}



.active{

background:

linear-gradient(
135deg,
#f4c542,
#ffb300
);

color:black;

}



.donate-form{

display:flex;

flex-direction:column;

gap:20px;

}



.donate-form input,
.donate-form textarea{

padding:18px;

border:none;

border-radius:14px;

outline:none;

}



.donate-form button{

height:60px;

border:none;

border-radius:14px;

background:

linear-gradient(
135deg,
#00c897,
#00a97f
);

color:white;

font-size:1rem;

cursor:pointer;

}



@media(max-width:800px){

.donate-container{

padding:40px;

}

.donate-container h1{

font-size:2.5rem;

}

.amount-grid{

grid-template-columns:1fr;

}

}