.partner-page{

background:#f8fbfc;

overflow:hidden;

}



/* HERO */

.partner-hero{

position:relative;

min-height:95vh;

display:flex;

justify-content:center;

align-items:center;

padding:140px 8%;

text-align:center;

background:

linear-gradient(
rgba(8,18,28,.55),
rgba(8,18,28,.75)
),

url("../assets/image/image(373).png");

background-size:cover;

background-position:center;

}



.partner-content{

position:relative;

z-index:2;

max-width:950px;

}



.partner-content span{

padding:14px 34px;

border-radius:60px;

background:

rgba(255,255,255,.12);

backdrop-filter:blur(18px);

color:white;

letter-spacing:5px;

}



.partner-content h1{

font-size:6rem;

line-height:1;

margin:40px 0;

color:white;

}



.partner-content p{

font-size:1.25rem;

line-height:2;

color:white;

}



.partner-btn{

display:inline-flex;

margin-top:50px;

padding:22px 50px;

background:#00c897;

color:white;

text-decoration:none;

border-radius:70px;

font-weight:800;

}



/* WHY */

.why-partner{

padding:140px 10% 80px;

text-align:center;

}



.why-partner h1{

font-size:4rem;

margin-bottom:25px;

}



/* GRID */

.partner-grid{

padding:60px 8% 180px;

display:grid;

grid-template-columns:

repeat(
auto-fit,
minmax(320px,1fr)
);

gap:45px;

}



.partner-card{

background:white;

padding:55px 40px;

border-radius:35px;

box-shadow:

0 35px 110px
rgba(0,0,0,.08);

transition:.6s;

}



.partner-card:hover{

transform:

translateY(-18px);

}



.partner-icon{

width:95px;

height:95px;

border-radius:28px;

display:flex;

justify-content:center;

align-items:center;

background:

linear-gradient(
135deg,
#00c897,
#009b76
);

font-size:2.5rem;

color:white;

margin-bottom:35px;

}



.partner-card h2{

font-size:2rem;

margin-bottom:20px;

}



.partner-card p{

line-height:2;

color:#617183;

}



.partner-card button{

margin-top:35px;

border:none;

background:none;

font-weight:800;

display:flex;

gap:12px;

cursor:pointer;

}



/* IMPACT */

.partner-impact{

padding:0 8% 180px;

text-align:center;

}



.partner-impact h1{

font-size:4rem;

margin-bottom:70px;

}



.impact-row{

display:grid;

grid-template-columns:

repeat(3,1fr);

gap:40px;

}



.impact-row div{

padding:70px;

background:white;

border-radius:35px;

}



/* CTA */

.partner-cta{

margin:0 8% 180px;

padding:140px;

border-radius:45px;

text-align:center;

color:white;

background:

linear-gradient(
135deg,
#00c897,
#009b76
);

}



.partner-cta svg{

font-size:5rem;

margin-bottom:35px;

}



.partner-cta h1{

font-size:4rem;

}



.partner-cta p{

margin:30px 0 50px;

}



.partner-cta button{

width:260px;

height:74px;

border:none;

border-radius:60px;

font-weight:900;

}



@media(max-width:900px){

.partner-content h1{

font-size:3rem;

}

.impact-row{

grid-template-columns:1fr;

}

.partner-cta{

padding:80px 30px;

}

}