/* GLOBAL RESET */

*{
margin:0;
padding:0;

box-sizing:border-box;

font-family:
"Times New Roman",
Times,
serif;

scroll-behavior:smooth;

}

/* ROOT VARIABLES */

:root{

--primary:#0B2C5F;

--secondary:#D4A017;

--light:#F5F7FB;

--dark:#071D3D;

--white:#FFFFFF;

--text:#1B1B1B;

}

/* GLOBAL */

html{

scroll-behavior:smooth;

}

body{

background:var(--white);

color:var(--text);

overflow-x:hidden;

font-family:
"Times New Roman",
Times,
serif;

line-height:1.6;

width:100%;

min-height:100vh;

-webkit-font-smoothing:antialiased;

-moz-osx-font-smoothing:grayscale;

}

/* ROOT */

#root{

width:100%;

min-height:100vh;

}

/* LINKS */

a{

text-decoration:none;

color:inherit;

}

/* LIST */

ul,
ol{

list-style:none;

}

/* MEDIA */

img{

max-width:100%;

display:block;

}

/* BUTTON */

button{

font-family:inherit;

cursor:pointer;

}

/* INPUT */

input,
textarea,
select{

font-family:inherit;

outline:none;

}

/* HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6{

font-weight:700;

line-height:1.2;

}

/* PARAGRAPHS */

p{

line-height:1.8;

}