/* ===================================
ADMIN LAYOUT
=================================== */

.admin-layout{

display:flex;

min-height:100vh;

background:

linear-gradient(
180deg,
#F6F8FC,
#EDF3FB
);

}



/* ===================================
SIDEBAR
=================================== */

.layout-sidebar{

width:320px;

flex-shrink:0;

position:sticky;

top:0;

height:100vh;

}



/* ===================================
MAIN
=================================== */

.admin-main{

flex:1;

padding:24px;

display:flex;

flex-direction:column;

overflow:hidden;

}



/* ===================================
CONTENT
=================================== */

.admin-content{

flex:1;

border-radius:34px;

overflow:auto;

padding:10px;

}



/* ===================================
SCROLLBAR
=================================== */

.admin-content::-webkit-scrollbar{

width:8px;

}



.admin-content::-webkit-scrollbar-thumb{

background:

rgba(216,155,43,.25);

border-radius:30px;

}



/* ===================================
RESPONSIVE
=================================== */

@media(max-width:1100px){

.layout-sidebar{

width:280px;

}

}



@media(max-width:900px){

.admin-layout{

flex-direction:column;

}



.layout-sidebar{

width:100%;

height:auto;

position:relative;

}



.admin-main{

padding:18px;

}



.admin-content{

padding:0;

}

}